#camera-view {
    background : black;
    z-index : 999;
    position : absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
}

#photosList > li {
    list-style-type: none;
}

img {
    object-fit: cover;
    width:256px;
    height:256px;
    margin: 16px;
    float: left;
  }
  