/* You can add global styles to this file, and also import other style files */
.btncodecops {
    background: #2F7684;
    color: #fff
}

.btnbox {
    border: 1px solid #b2b3b7;
    background: transparent;
}